body {
  background: #ced4da;
}

.logo {
  width: 30%;
}
a{
	text-decoration: none;
}
ul {
	margin: 0 1em;
}

.wallpaper-1{
	background: url(img/wallpaper-4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

}
.grid {
	color: #fff;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1em;
	text-align: center;
	margin: 0 auto;
	height: 70vh;
	max-width: 900px;
}
.flex{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.flex img {
	width: 50%;
}
	.buttom {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
		grid-row: 1/3;
		color: #fff;
		transition: all .3s ease;
	}
	.buttom:hover{
		opacity: 0.5;
		cursor: pointer;
	}

  h2{
    margin:1em;
  }

.show {
	display: default;
}

.hide {
	display: none;
}